<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="c:\temp\IALW.nlog-internal.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
		<target xsi:type="File" name="allfile" fileName="${basedir}/logs/All/nlog-AspNetCore3-all-${shortdate}.log" encoding="utf-8"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="ownFile-web" fileName="${basedir}/logs/${level}/${shortdate}.log" encoding="utf-8"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|" />

		<target xsi:type="Console" name="lifetimeConsole" layout="${level:truncate=4:lowercase=true}: ${logger}[0]${newline}      ${message}${exception:format=tostring}" />

		<target xsi:type="Database" name="database" dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient" connectionString="${configsetting:ConnectionStrings.DefaultConnection}">
			<commandText>
				BEGIN TRY
				INSERT INTO [dbo].[SystemErrorLog]
				([Error_Level]
				,[Token]
				,[Ip]
				,[Api]
				,[Web_Method]
				,[Web_Request]
				,[Web_Response]
				,[Message]
				,[Entry_Date]
				,[Entry_User]
				VALUES
				(@Error_Level
				,@Token
				,@Ip
				,@Api
				,@Web_Method
				,@Web_Request
				,@Web_Response
				,@Message
				,@Entry_Date
				,@Entry_User))
				END TRY
				BEGIN CATCH
				END CATCH
			</commandText>

			<parameter name="@Error_Level" layout="${level}" />
			<parameter name="@Token" layout="${aspnet-request-headers:HeaderNames=X-Ap-Token}" />
			<parameter name="@Ip" layout="${aspnet-request:serverVariable=REMOTE_ADDR}:${aspnet-request:serverVariable=REMOTE_PORT}" />
			<parameter name="@Api" layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true:IncludeScheme=true}" />
			<parameter name="@Web_Method" layout="${aspnet-request-method}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Web_Request" layout="${when:when='${aspnet-request-method}' == 'GET':inner=${aspnet-request-querystring:OutputFormat=JSON}:else=${aspnet-request-contenttype}|${aspnet-item:variable=aspnet-request-posted-body-2}}" />
			<parameter name="@Web_Response" layout="" />
			<parameter name="@Entry_User" layout="system" />
			<parameter name="@Entry_Date" layout="${date}" />
		</target>
	</targets>
	<rules>
		<!--記錄層級和更新版本的類別記錄-->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
		<logger name="*" minlevel="Error" writeTo="database" />
	</rules>
</nlog>